<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>聊天登录</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/style.min.css?v=4.1.0" rel="stylesheet">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>
</head>

<body class="gray-bg">

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <h3>欢迎使用 来聊天</h3>
        <form class="m-t" role="form" action="{:url('login/doLogin')}" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="用户名" required="" name="uname">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="密码" required="" name="pwd">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">登 录</button>
        </form>
    </div>
</div>
<script src="/static/resource/widget/jquery-1.11.1.min.js"></script>
<script src="/static/js/bootstrap.min.js?v=3.3.6"></script>
</body>
</html>